:root {
  --dark-color: #001848;
  --light-color: #906090;
  --accent-color: #301860;
  --secondary-color: #483078;
  --tertiary-color: #37388f;
  --disable-color: #83798d;
  --white-color: #f1eeee;
  --black-color: #000;
  --text-color: var(--dark-color);
  --text-light-color: var(--light-color);
  --text-acent-color: var(--accent-color);
  --text-disable-color: var(--disable-color);
  --bg-color: var(--light-color);
  --bg-secondary-color: var(--secondary-color);
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--dark-color);
}

.content-container {
  display: block;
  background-color: #f8f0e8;
  box-shadow: 5px 5px 10px #333030;
  border-radius: 10px;
  padding: 20px;
  border: 1px;
  margin-bottom: 20px;
}
