@use "sass:math";
@import './vars';

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  &-full {
    width: 100%;
  }

  @media screen and (max-width: 900px) {
    max-width: 100%;
    padding: 0 20px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1660px;
    padding: 0;
  }

  .row {
    flex-wrap: wrap;
    width: 100%;
    display: flex;



    // @media screen and (min-width: $desktop) {
    //   column-gap: $desktop-gutter;
    // }

    // @media screen and (max-width: $desktop) {
    //   column-gap: 900px-gutter;
    // }

    // @media screen and (max-width: 600px) {
    //   column-gap: 600px-gutter;
    // }

    // @media screen and (max-width: 600px) {
    //   margin: 0px math.div(-600px-gutter, 2);
    // }

    // @media screen and (max-width: 900px) {
    //   margin-left: math.div(-900px-gutter, 2);
    //   margin-right: math.div(-900px-gutter, 2);
    // }

    // @media screen and (min-width: $desktop) {
    //   margin-left: math.div(-$desktop-gutter, 2);
    //   margin-right: math.div(-$desktop-gutter, 2);
    // }

    [class^=col] {
      flex-shrink: 1;
      max-width: 100%;

      @media screen and (min-width: $desktop) {
        padding: 0 math.div($desktop-gutter, 2);
      }

      @media screen and (max-width: 900px) {
        padding: 0 math.div(900px-gutter, 2);
      }

      @media screen and (max-width: 600px) {
        padding: 0 math.div(600px-gutter, 2);
      }
    }
    @each $device in (d),(t),(m) {
      @each $place in (1),(2),(3),(4),(5),(6),(7),(8),(9),(10),(11),(12){
        .col-#{$device}-#{$place} {
          @if #{$device} == 'd' {
            flex-basis: calc(math.floor(math.div(100%, $desktop-amount) * $place));
          }

          @if #{$device} == 't' {
            @media screen and (max-width: $desktop) {
              flex-basis: calc(math.floor(math.div(100%, 900px-amount) * $place)) ;
            }
          }

          @if #{$device} == 'm' {
            @media screen and (max-width: 600px) {
              flex-basis: calc(math.floor(math.div(100%, 600px-amount) * $place));
            }
          }
        }
      }
    }
  }
}