body {
  --main-color: #bb5454;
  --main-dark-color: #813838;
  --secondary-color: #9aac6b;
  --secondary-dark-color: #6a754c;
  --text-light-color: #ebebeb;
  --text-color: #111;
  --bg-color: #eee;
  --bg-dark-color: #523737;
}