// brakepoints
$desktop: 1660px;
$tablet: 1659px;
$vtablet: 1080px;
$mobile: 767px;

// grid
$desktop-item: 106px;
$desktop-amount: 12;
$desktop-gutter: 30px;
$tablet-item: 135px;
$tablet-amount: 8;
$tablet-gutter: 20px;
$mobile-item: 60px;
$mobile-amount: 4;
$mobile-gutter: 20px;

// colors
$yellow: #FFB13D;
$brown: #5A3839;
$gray: #F6F6F6;

